.container {
  width: 1000px;
  height: 300px;
    background-color: #eeeded;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  .tabList {
    height: 50px;
    display: flex;
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #57afaf;;
    cursor: pointer;
    width: 25%;
  }
  
  .tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  
  }
  
  .activeTabs {
    background: #eeeded;
    padding: 0 2px;
    background: #fff;
    border: 1px solid transparent;
    border-bottom: 2px solid #2f7a7a;
    font-weight: bold;
    color: #333;
  }
  
  .activeTabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 4px;
    background: #5893f1;
  }
  
  .activeContent{
      display: flex;
      background-color: #eeeded;
      padding: 10px;
      
  }
  

  .content {
      display: none !important;
  }